@use 'webcoreui/config' as *;

.meta {
    @include layout(flex, xs);

    min-width: fit-content;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.socials {
    display: block;
}

.description {
    @include border(3px, left, primary-50);
    @include spacing(pl-sm);
    @include typography(hmd);
}

// Override avatar size only for author component
.meta :global(img) {
    width: 32px !important;
    height: 32px !important;
    object-fit: contain !important;
}
