---
import BlogPostLayout from '../../../layouts/BlogPostLayout.astro';
---
<BlogPostLayout
  title="Atlanteans Guide - Age of Mythology"
  description="A guide for the Atlantean civilization in Age of Mythology."
  category="Guides"
  publishedDate="Published on January 31, 2026"
  dateIso="2026-01-31"
  ogImage="/img/AOM-Guides/Atlantean Guide.jpg"
  youtubeId="l9tJQI2JOBM"
  tags={['Age of Mythology']}
>
  <p class="text-lg leading-relaxed mb-6">
    A guide for the Atlantean civilization in Age of Mythology.
  </p>
</BlogPostLayout>

