---
import BlogPostLayout from '../../../layouts/BlogPostLayout.astro';
---
<BlogPostLayout
  title="Best Practices for Relics - Age of Mythology"
  description="Relics are a powerful resource in Age of Mythology. This guide will show you how to use them to your advantage."
  category="Guides"
  publishedDate="Published on January 31, 2026"
  dateIso="2026-01-31"
  ogImage="/img/AOM-Guides/New Player Guide.jpg"
  youtubeId="9kAAAt-A-_E"
  tags={['Age of Mythology']}
>
  <p class="text-lg leading-relaxed mb-6">
    Relics are a powerful resource in Age of Mythology. This guide will show you how to use them to your advantage.
  </p>
</BlogPostLayout>

