---
import BlogPostLayout from '../../../layouts/BlogPostLayout.astro';
---
<BlogPostLayout
  title="How to play as Captain Cutter - Halo Wars 2"
  description="Learn how to play as Captain Cutter in Halo Wars 2."
  category="Guides"
  publishedDate="Published on January 31, 2026"
  dateIso="2026-01-31"
  ogImage="/img/HW-Guides/Captain Cutter - Beginners Guide.png"
  youtubeId="HtF6SzE69Fw"
  tags={['Halo Wars 2']}
>
  <p class="text-lg leading-relaxed mb-6">
    Learn how to play as Captain Cutter in Halo Wars 2.
  </p>
</BlogPostLayout>

