---
import BlogPostLayout from '../../../layouts/BlogPostLayout.astro';
---
<BlogPostLayout
  title="How to Stop Air Spam - Halo Wars 2"
  description="Learn how to stop air spam in Halo Wars 2."
  category="Guides"
  publishedDate="Published on January 31, 2026"
  dateIso="2026-01-31"
  ogImage="/img/HW-Guides/Stopping-Air-Spam.jpg"
  youtubeId="t2hzrzFeh_M"
  tags={['Halo Wars 2']}
>
  <p class="text-lg leading-relaxed mb-6">
    Learn how to stop air spam in Halo Wars 2.
  </p>
</BlogPostLayout>

