---
import BlogPostLayout from '../../../layouts/BlogPostLayout.astro';
---
<BlogPostLayout
  title="How to Break the Super Turtle - Halo Wars 2"
  description="Learn how to break the super turtle in Halo Wars 2."
  category="Guides"
  publishedDate="Published on January 31, 2026"
  dateIso="2026-01-31"
  ogImage="/img/HW-Guides/Break-The-Turtle.jpg"
  youtubeId="1SDezpdQRGg"
  tags={['Halo Wars 2']}
>
  <p class="text-lg leading-relaxed mb-6">
    Learn how to break the super turtle in Halo Wars 2.
  </p>
</BlogPostLayout>

