---
import BlogPostLayout from '../../../layouts/BlogPostLayout.astro';
---
<BlogPostLayout
  title="Nomad Megarandom 101 - Age of Empires IV"
  description="Learn how to play the Nomad Megarandom game mode in Age of Empires IV."
  category="Guides"
  publishedDate="Published on January 31, 2026"
  dateIso="2026-01-31"
  ogImage="/img/AOE4-Guides/Nomad 1.jpg"
  youtubeId="dw1d0n7jnR0"
  tags={['Age of Empires IV']}
>
  <p class="text-lg leading-relaxed mb-6">
    Learn how to play the Nomad Megarandom game mode in Age of Empires IV.
  </p>
</BlogPostLayout>

