---
import BlogPostLayout from '../../../layouts/BlogPostLayout.astro';
---
<BlogPostLayout
  title="Top Tips for Beginners on Xbox - Age of Mythology"
  description="Learn the basics of Age of Mythology on Xbox with these essential tips!"
  category="Guides"
  publishedDate="Published on January 31, 2026"
  dateIso="2026-01-31"
  ogImage="/img/AOM-Guides/New Player Guide.jpg"
  youtubeId="WNtrTZRc0Nk"
  tags={['Age of Mythology']}
>
  <p class="text-lg leading-relaxed mb-6">
    Learn the basics of Age of Mythology on Xbox with these essential tips!
  </p>
</BlogPostLayout>

