---
import BlogPostLayout from '../../../layouts/BlogPostLayout.astro';
---
<BlogPostLayout
  title="Top Tips for Beginners on PS5 - Age of Mythology"
  description="New to Age of Mythology on PS5? Learn the basics of using the controller and the fundamentals of the game."
  category="Guides"
  publishedDate="Published on January 31, 2026"
  dateIso="2026-01-31"
  ogImage="/img/AOM-Guides/Defense v2.jpg"
  youtubeId="dQTc8nBPLxE"
  tags={['Age of Mythology']}
>
  <p class="text-lg leading-relaxed mb-6">
    New to Age of Mythology on PS5? Learn the basics of using the controller and the fundamentals of the game.
  </p>
</BlogPostLayout>

