---
import BlogPostLayout from '../../../layouts/BlogPostLayout.astro';
---
<BlogPostLayout
  title="Xbox Advanced Guide - Age of Empires II"
  description="An advanced guide for Xbox players in Age of Empires II."
  category="Guides"
  publishedDate="Published on January 31, 2026"
  dateIso="2026-01-31"
  ogImage="/img/AOE2-Guides/Advanced Guide.jpg"
  youtubeId="nKX9uZon4bI"
  tags={['Age of Empires II']}
>
  <p class="text-lg leading-relaxed mb-6">
    An advanced guide for Xbox players in Age of Empires II.
  </p>
</BlogPostLayout>

