---
import BlogPostLayout from '../../../layouts/BlogPostLayout.astro';
---
<BlogPostLayout
  title="Xbox Controller Guide - Age of Empires IV"
  description="A guide for using an Xbox controller in Age of Empires IV. This guide is for the Xbox version of the game."
  category="Guides"
  publishedDate="Published on January 31, 2026"
  dateIso="2026-01-31"
  ogImage="/img/AOE4-Guides/Controller Tutorial.jpg"
  youtubeId="Tl2B9XfweSAo"
  tags={['Age of Empires IV']}
>
  <p class="text-lg leading-relaxed mb-6">
    A guide for using an Xbox controller in Age of Empires IV. This guide is for the Xbox version of the game.
  </p>
</BlogPostLayout>

